@import "tailwindcss";

@theme {
  --color-background: #211212;
  --color-input: #2196F3;
  --color-buttons: #4CAF50;
  --color-light-text: #212121;
  --color-btn-text: #333333;
  --color-container: #F7F7F7;


  --color-muted: #3a3a3a;
  --color-sub-text: #a0a0a0;
}
.custom-scroll::-webkit-scrollbar {
  height: 15px;
}

/* Track (background) */
.custom-scroll::-webkit-scrollbar-track {
  background-color: #601b0c66; 
  border-radius: 8px;
}

/* Scrollbar handle */
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #6e5e5e; 
  border-radius: 6px;
  border: 2px solid transparent; 
  transition: background-color 0.2s ease-in-out;
}

/* On hover */
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #4b3f3f; 
}


